* {
  margin: 0;
  padding: 0;
}

/* Buttons general style */

p {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

a {
  text-decoration: none;
}

h2 {
  font-family: Cabin;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-align: center;
}

small {
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
}

.solidButton {
  color: #000;
  background: #f9f9f9;
}

.lineButton {
  margin: 24px auto 24px auto;
  color: #f9f9f9;
  background-color: #000;
  border: solid 1px #f9f9f9;
}

.lineButton:hover {
  background-color: #ffffffb0;
  color: #000;
  animation-name: lineButtonHover;
  animation-duration: 0.3s;
}

@keyframes lineButtonHover {
  from {
    background-color: transparent;
  }
  to {
    background-color: #f9f9f993;
  }
}

button {
  text-align: center;
  font-family: Cabin;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-align: center;
  height: auto;
  width: auto;
  padding: 16px 32px;
  display: block;
  cursor: pointer;
  outline: none;
}

.upbutton {
  position: fixed;
  bottom: 16px;
  left: 47.4%;
  background-color: transparent;
  padding: 16px 24px;
}

/* Contact form */

a {
  color: white;
}

form {
  margin: 0 16px 0 16px;
}

.contactText {
  text-align: center;
  margin: 8px 24px 24px 24px;
  color: #c4c4c4;
}

label {
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

form input,
select,
textarea {
  display: inline-block;
  background-color: #000;
  color: #f9f9f9;
  font-family: "Montserrat";
  font-size: 24px;
  width: 95%;
  height: 40px;
  padding: 4px 8px;
  border: none;
  border-bottom: 1px solid #f9f9f9;
  margin: 4px 0 8px;
  display: inline-block;
}

/* select {
  width: 98%;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #f9f9f9;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
select:required:invalid {
  color: #bcc2c2;
}

input[type="text"]:focus {
  outline: none;
  background: #1d1d1d;
}

textarea:focus {
  outline: none;
}

select:focus {
  outline: none;
}

/* Gallery  */

.workContainer {
  margin-top: 16px;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.workGal {
  text-align: center;
  display: flex;
  align-items: center;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.workGal:hover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background: rgba(0, 0, 0, 0.349);
}

.galLink {
  width: 50%;
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */
  min-height: 169px;
  min-width: 301px;
  color: white;
}

.galLink:hover {
  color: white;
  text-decoration: none;
}
.textInfo {
  margin: auto;
}

.descriptionHover {
  color: transparent;
}

.descriptionHover:hover {
  animation-name: descriptionHoverAnimation;
  animation-duration: 0.3s;
  color: #f9f9f9;
}

@keyframes descriptionHoverAnimation {
  from {
    color: transparent;
  }
  to {
    color: #f9f9f9;
  }
}

.descriptionHoverAnimation {
  animation-name: descriptionHoverAnimation;
  animation-duration: 0.3s;
  color: #f9f9f9;
}

.projectInfo {
  margin: auto;
}

/* HOMEPAGE */

html,
body {
  height: 100%;
  background-color: black;
  color: white;
}

.homepage {
  height: 100%;
  background-image: url("AlexRapp-final1.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Jaldi", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-homepage {
  text-align: center;
  font-size: 25px;
  opacity: 85%;
}

.subtitle-homepage {
  text-align: center;
  font-size: 38px;
  opacity: 75%;
}

/* Arrow */

.nextpagebutton {
  transform: rotate(180deg);
  position: absolute;
  left: 50%;
  right: 49.69%;
  top: 88%;
  bottom: 6.24%;
}

/* others */

.hambut {
  display: none;
}

.callforaction {
  display: none;
}

#homeworks {
  display: none;
}

.homeContact {
  display: none;
}

/* .footerflex {
  display: none;
} */

/* INNER MOVIE */

.inner-movie {
  background-color: black;
  color: white;
  font-family: "Jaldi", sans-serif;
}

#timeLocation {
  opacity: 60%;
}

/* 
footer styles :
*/
footer {
  text-align: center;
  width: 100%;
  background-clip: content-box;
  background-position: center;
  background-size: auto;
  position: absolute;
  bottom: 10px;
}

/* will be moved to the css file got it from https://www.w3schools.com/howto/howto_css_social_media_buttons.asp */

.fa {
  padding: 9px 0;
  font-size: 20px;
  width: 41px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50px;
  background: rgb(196, 196, 196);
  color: black;
}

.fa-instagram:hover {
  background: #125688;
  color: white;
}
.fa-twitter:hover {
  background: #55acee;
  color: white;
}
.fa-linkedin:hover {
  background: #007bb5;
  color: white;
}

.fa-youtube:hover {
  background: #bb0000;
  color: white;
}

.fa-instagram:hover {
  background: #125688;
  color: white;
}
.fa-vimeo:hover {
  background: #45bbff;
  color: white;
}
.galFotter {
  bottom: -670px;
}

/* 
//
//
home page text sample :
*/
#idHomeText {
  width: 70%;
  min-width: 350px;
  margin: auto;
  text-align: left;
  text-justify: newspaper;
  text-align: justify;
  padding: 1rem;
}

/* 
//
//
fixed gap between gallery and nav :
*/
.mainGallery {
  margin-top: -16px;
}

/* hr {
  display: none;
} */

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

/*  
//
//
logo on all pages:
*/
#idLogoText {
  float: right;
  padding-right: 1.3rem;
  padding-top: 1rem;
  font-size: 1.6rem;
  font-weight: bolder;
  color: white;
}

/* Responsive */


  /* responsive navigation */

  nav ul {
    margin-right: 0px;
    float: left;
  }

  nav .logo {
    padding-left: 30px;
    width: 100%;
  }
  .show + a,
  ul {
    display: none;
  }
  nav ul li,
  nav ul ul li {
    display: block;
    width: 100%;
  }
  nav ul li a:hover {
    box-shadow: none;
  }
  .show {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }

  .icon {
    display: block;
    color: white;
    position: static;
    top: 0;
    line-height: 70px;
    font-size: 25px;
    margin-left: 20px;
  }
  nav ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }

  [id^="btn"]:checked + ul {
    display: block;
  }
  nav ul ul li {
    border-bottom: 0px;
  }

  nav ul li {
    margin-top: -20px;
  }
}

/* 
//
//
home page text sample :
*/
#idHomeText {
  width: 70%;
  min-width: 350px;
  margin: auto;
  text-align: left;
  text-justify: newspaper;
  text-align: justify;
  padding: 1rem;
}

/* 
//
//
fixed gap between gallery and nav :
*/
/* .mainGallery {
  margin-top: -16px;
}

hr {
  display: none;
} */

@media (min-width: 1281px) {
  .galLink {
    min-height: 400px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .galLink {
    min-height: 345px;
  }
  .galFotter {
    bottom: -870px;
  }
}

@media (min-width: 1025px) {
  .formContainer {
    display: flex;
  }
  .formBox {
    padding: 16px;
    width: 50%;
  }
  form {
    max-width: 1150px;
    margin: auto;
  }
  textarea {
    border: solid 1px #f9f9f9;
    height: 251px;
  }
  .galFotter {
    bottom: -870px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .workGal {
    width: 100%;
    height: 431px;
  }
  .workContainer {
    display: block;
  }
  .descriptionHover {
    display: block;
  }
  .galFotter {
    bottom: -870px;
  }
  .upbutton {
    left: 42%;
  }
}

/* mobile screen */

@media only screen and (max-width: 767px) {
  .workGal {
    width: 100%;
    height: 211px;
  }
  .workContainer {
    display: block;
  }
  .descriptionHover {
    display: inline;
  }
  .galFotter {
    bottom: -1000px;
  }
  .upbutton {
    left: 42%;
  }
}